{% extends "layout.html" %}
{% block title %}Exploratory Analysis{% endblock %}

{% block body %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/houston311_Trend.css">
    <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="module" src="/static/js/charts.js"></script>

    <h1 class="ui header centered">
        <div class="content">
            Descriptive Analysis
            <div class="sub header">We used Tableau for creating visualization, to provide descriptive analysis.</div>
        </div>
    </h1>

    <h4 class="ui header">
        <div class="content">
            Closed Ticket Analysis:
            <div class="sub header">Provides current insights of the time it takes to close a ticket by district for top
                20 complaint types.
            </div>
        </div>
    </h4>

    <h4 class="ui header">
        <div class="content">
            Complaint Volume Analysis:
            <div class="sub header">Provides the current insights to the total volume of tickets created over a period
                of three years for different complaint types across department and division.
            </div>
        </div>
    </h4>

    <div id="vizContainer" class="ui container" style="width: 100%; margin-top: 4em"></div>

{% endblock %}



