{% extends "layout.html" %}
{% block title %}Forecasting{% endblock %}

{% block body %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>
        $("#loader").addClass('disabled').removeClass('active');
        $(document).ready(function(){
            $('.ui.dropdown').dropdown();
        });
        
        function getLoader() {
            $("#loader").addClass('active').removeClass('disabled');
        }
    </script>

    <h1 class="ui header centered">
        <div class="content">
            Forecasting
            <div class="sub header">
                This dashboard displays ticket volume by division in the past and the forecasted ticket volumes in the future.<br>
                The graphic contains tooltips for further details on the presented data.
            </div>
        </div>
    </h1>

    <a download="forecast.pdf" href="/static/data/division_model_forecast_plots.pdf" target="_blank">
        Download Full Forecast Plots
    </a>

    <form class="ui equal width form" method="post">
        {{ foreForm.hidden_tag() }}
        <div class="fields">
            <div class="field">
                {{ foreForm['page'].label }}
                {{ foreForm['page']() }}
            </div>
        </div>
    </form>

    <div id="loader" class="ui disabled loader"></div>
    <iframe src="{{ iframe }}"></iframe>

{% endblock %}

