{% extends "layout.html" %}
{% block title %}Trend Analysis{% endblock %}

{% block body %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/houston311_Trend.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="module" src="/static/js/genD3.js"></script>
    <h1 class="ui header centered">
        <div class="content">
            Trend Analysis
            <div class="sub header">Trend analysis on Houston 311 call counts with integrated Storm data was built using D3.</div>
        </div>
    </h1>

    <h4 class="ui header">
        <div class="content">
            Interactive:
            <div class="sub header">
                Here we aggregated monthly Houston 311 call volume for 2017-2019 (till sept.).<br>
                Drilled down monthly with Red dots signifying days when there was a weather event.<br>
                Further drilled down to top 3 311 calls per selected day<br>
            </div>
        </div>
    </h4>
    <div id="d3Container" class="ui container"></div>

{% endblock %}



